.plutus_right {
  margin-right: 10px
}

.plutus_right2 {
  margin-right: 20px
}

.centering {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

th {
  text-align: center;
}

td {
  text-align: center;
}

.plutus_left {
  margin-left: 20px
}

.positive {
  color: ForestGreen;
}

.negative {
  color: Crimson;
}